@import 'bulma/css/bulma.css';

.navbar{ /*Color de fondo de la barra de bavegacion*/
  background-color: hsl(0, 0%, 96%) !important;
}

.navbar-brand{/*Padding al logo o nombre de la institución en la barra de navegacion ubicada en el extremo izquierdo*/
  padding-left: 36px;
}


.navbar-end{/*Padding al menie de la institución en la barra de navegacion ubicada en el extremo derecho*/
  padding-right: 48px !important;
}

.navbar-item:hover{ /*Cambia el estilo al acentar el mouse por los item de la barra de navegacion*/
  background-color: hsl(171, 100%, 29%) !important;
  color:hsl(0, 0%, 96%) !important;
  border: 1px;
  border-radius: 8px;
  margin-right: 2px;
}

.navbar-item:hover .title { /*Cambia el color del titulo al acentar el mouse por la barra de navegacion*/
  color: hsl(0, 0%, 96%) !important;
}

.navbarIcmasa {
  border: 1px;
  border-radius: 8px;
  margin-right: 2px;
}

.navbar-dropdown{
  background-color: hsl(0, 0%, 96%) !important;
  border: 1px solid hsl(171, 100%, 29%);
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
}

.navbar-item-custom{
  background-color: hsl(0, 0%, 96%) !important;
  color: hsl(0, 00%, 15%) !important;
}

.navbar-dropdown {
  display: none;
}

.navbar-dropdown.is-active {
  display: block;
}

.fixed-footer{ /*Footer.jsx ubica el footer en la parte inferior del navegador*/
    
    background-color: hsl(0, 00%, 15%)/*#303134 */!important;
    padding-left: 48px !important;
    padding-right: 48px !important;
    padding-bottom: 10px !important;
}

@media (max-width: 768px) {
  .navbar-brand{
    padding-left: 10px;
  }
  
  .fixed-footer {
      padding-left: 24px !important;
      padding-right: 24px !important;
      padding-bottom: 10px !important; /* Si quieres mantener el padding-bottom igual */
  }
}

.footer-text {
    text-align: center;
    margin-top: 50px;
  }

  .enlaces-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .enlaces-container .columns {
    justify-content: center;
  }

  .is-128x50 {
    width: 128px;
    height: 50px;
  }
  
  .image.is-128x50 img {
    max-width: 128px; /* Ajusta el tamaño máximo de la imagen */
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: contain;
  }

