.margen-top {
    margin-top: 48px;
}

.cursor-pointer {
    cursor: pointer; /* Cambia el cursor a un puntero */
    user-select: none;
    -webkit-user-select: none;
}

.mobile-card-body-display {
    display: block !important;
    font-size: 12px !important;
    text-align: justify;
}

.mobile-card-body-display strong {
    color: black !important;
}

.mobile-card-body-undisplay {
    display: none !important;
}

.modal-card-body strong{
    color:black !important;
}

.modal-card-body {
    text-align: justify;
}

.full-width-content {
    width: 100%;
  }

@media (max-width: 768px) {
    
    .margen-top {
        margin-top: 0px;
    }
}